@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500;600;700&display=swap');

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #219ebc;
  padding: 0 2rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.main-header h1 {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}