@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background: #fff;
  background-image: url(./Images/Ice_mountains.jpg);
  background-size: cover;
  background-size: 100vw 100vh;
}
body {
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 15px;
}

main {
  margin-top: 6rem;
}
